@model Ecommerce.Models.Characteristic.Charecteristic

@{
    ViewBag.Title = "ProductCharacteristic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Detalle de Caracteristicas

        <a href="@Url.Action("CharacteristicAdd", "Admin", new { @id = Model.productId })" class="btn btn-info pull-right fa fa-plus">Agregar Caracteristica</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Caracteristica</th>
                        <th>Accion</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Caracteristica</th>
                        <th>Accion</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{int count = 1;

                        foreach (var item in Model.Characteristics)
                        {

                            <tr>
                                <td>@count</td>
                                <td>@item.Characteristic</td>
                                <td>
                                    @Html.ActionLink("Editar", "ProductCharacteristicEdit", new { id =   item.CharacteristicId })
                                </td>
                            </tr>
                            count++;
                        }

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

